/* =================================
  Base Element Styles
==================================== */
* {
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  background-color: snow;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 1.25em;
  color: darkslategrey;
}

p {
  color: grey;
}

a {
  text-decoration: none;
  color: darkslategrey;
}

img {
  width: 100%;
}

.title {
  padding: 30px;
}

/* =================================
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name {
  font-size: 1.50em;
  font-weight: bold;
  margin: 0;
}

.main-nav {
  margin-top: 5px;
}

.main-nav a {
  text-transform: uppercase;
  font-size: 0.95em;
  font-weight: bolder;
  background-color: white;
  margin-top: 10px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.main-nav a:hover {
  transition: 0.4s;
  color: white;
  background-color: grey;
}

.main-nav a,
.name a {
  text-align: center;
  display: block;
  padding: 10px 15px;
}

.bottom-nav {
  margin-top: 10px;
  display: block;
  border-top: 1px solid silver;
  padding-top: 30px;
  align-items: top;
}

.bottom-nav .name {
  float: left;
}

span {
  margin-right: 30px;
  float: right;
  padding-top: 17px;
  font-weight: bold;
}

.contact {
  padding-bottom: 40px;
  width: 90%;
  margin: 0 auto;
}
/* ---- Layout Containers ---- */


.container {
  width: 90%;
  margin: 0 auto;
}

.portfolio {
  padding: 30px 20px;

}

.main-header {
  padding: 1em 0;
  background-color: snow;
}

.container {
  margin-top: 30px;
  background-color: white;
  padding: 50px 10px;
  text-align: center;
}

.banner,
.main-footer {
  text-align: center;
}

.main-footer {
  padding: 2em 0;
  background-color: snow;
}

.banner {
  padding-top: 40px;
  width: 90%;
  margin: 0 auto;
}

.banner-image {
  width: 70%;
}

.main-footer ul {
  visibility: hidden;
}

/* =================================
  Media Queries
==================================== */

@media (min-width: 768px) {

.name {

}
.main-nav {
  text-align: center;
}

.main-nav li {
  display: inline-block;

}

.main-nav a {
  background-color: snow;
}

.main-nav a:hover {
  background-color: snow;
  color: lightgrey;
}

.banner-image {
  float: right;
}

}
